<html>
    <head>
        <title> Blog Site </title>
    </head>
    <body>
      <div>
         <header>
             <div class = 'nav-left'>
                 <h1><a href = "{% url 'home' %}">Blog Site</a></h1>
             </div>
             <div class = 'nav-right'>
                 <a href = "{% url 'post_new' %}">+ Create Post</a>
             </div>
         </header>
         {% if user.is_authenticated %}
           <p>Hi {{user.username}} !!!</p>
           <p><a href = "{% url 'logout' %}">Log Out</a></p>
         {% else %}
           <p>You are not logged IN...</p>
           <a href = "{% url 'login' %}">Log In</a>
         {% endif %}
        
            {% block content %}
            {% endblock content %}
        </div>

    </body>
</html>