{% extends 'base.html' %}

{% block content %}
  <h1>Delete the blog...</h1>
  <form action =  "" method = "post">{% csrf_token %}
      <p>Are you want to delete the blog "{{post.title}}"?</p>

      <input type = "submit" value = "Delete" />

  </form>
{% endblock content %}